.Unisciti{
    text-align: center;
}
body{
    background-image: url(rain.png);
    background-size: 1500px;
}
.gang{
    text-align: center;
}
.div{
    text-align: center;
}
.SI{
    font-size: 30px;
}
.No{
    font-size: 30px;
}